.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  margin-top: 80px;
  margin-bottom: 15px;
  width: 736px;
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}

.info section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info p {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.info span {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  gap: 10px;

  background: var(--gray-500);
  border-radius: 999px;
}
